<% provide :title, t("text.my_address") %>
<section class="h-100 h-custom mt-5">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <%= link_to t("text.my_account"), edit_user_registration_path , class: "nav-link #{'active' if current_page?(edit_user_registration_path)} fw-bold text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to t("text.my_address"), address_user_path , class: "nav-link  #{'active' if current_page?(address_user_path)} fw-bold text-dark" %>
            </li>
          </ul>
          <div class="card-body p-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h4><%= t("text.my_address") %></h4>
              <%= link_to t("text.add_new_address"), new_user_info_path,
                data:{ turbo_frame: "modal"}, class:"btn btn-dark" %>
            </div>
            <div id="user_infos_list">
              <%= render @user_infos %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
