<tr>
  <td><%= link_to order.order_code, edit_admin_order_path(order) %></td>
  <td><%= format_time(order.created_at) %></td>
  <td><%= display_type_payment(order.type_payment) %></td>
  <td class="fw-bolder"><%= display_order_status(order.status) %></td>
  <td><%= order_total(order.order_items) %></td>
</tr>
