<header class="banner py-5 mt-5">
  <div class="text-center text-black">
    <h1 class="display-4 fw-bolder"><%= t "text.banner_title" %></h1>
    <p class="lead fw-normal mb-0"><%= t "text.banner_text" %></p>
  </div>
</header>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h1 class="text-center"><%= t("text.all_product") %></h1>
    <div class="row gx-4 gx-lg-5 row-cols-4">
      <% if @products.any? %>
        <% @products.each do |product| %>
          <%= render partial: "products/product", locals: { product: product} %>
        <% end %>
      <% else %>
        <span><%= t "text.no_product" %></span>
      <% end %>
    </div>
    <%= render partial: "shared/next_page" %>
  </div>
</section>
