<div class="col mb-5">
  <div class="card h-100">
    <%= status_badge(product.status) %>
    <%= image_tag product.image.variant(:display_user), class: "card-img-top" if product.image.attached? %>
    <div class="card-body p-4">
      <div class="text-center card-info">
        <h6><%= link_to product.name, category_product_path(product.category, product), class: "fw-bolder text-decoration-none" %></h6>
        <b class="text-danger"><%= format_cost(product.cost)%></b>
      </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <%= button_to t("text.add_to_cart"), add_to_cart_path(product,quantity: Settings.digit_1), data:{"turbo-method": :post},
          class: "btn btn-outline-dark mt-auto", disabled: (product.status.to_sym == :unavailable)
        %>
      </div>
    </div>
  </div>
</div>
