<% provide :title, @product.name %>
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><%= image_tag @product.image.variant(:display_user_info), class: "card-img-top mb-5 mb-md-0" if @product.image.attached? %></div>
        <div class="col-md-6">
          <h3 class="display-5 fw-bolder"><%= @product.name %></h3>
          <div class="fs-5">
            <%= format_status(@product.status) %>
          </div>
          <p class="lead"><%= @product.description %></p>
          <div class="d-flex">
            <%= form_tag add_to_cart_path, method: :post, remote: true do %>
              <div class="d-flex">
                <%= text_field_tag 'quantity', Settings.digit_1, class: 'form-control input-number me-3', id: 'input-numb', type: 'number', style: 'max-width: 3rem' %>
                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                  <i class="bi-cart-fill me-1"></i>
                  <%= t("text.add_to_cart") %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- Related items section-->
<section class="px-5 pb-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4"><%= t "text.related_product" %></h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
    <% if @products_related.any? %>
      <% @products_related.each do |product| %>
        <%= render partial: "products/product", locals: { product: product, category: @category} %>
      <% end %>
    <% else %>
      <span><%= t "text.no_product" %></span>
    <% end %>
    </div>
  </div>
</section>
