<nav class="navbar navbar-expand-lg navbar-light bg-light py-2 fixed-top shadow">
  <div class="container px-4 px-lg-5">
    <%= link_to t('text.logo'), root_path, class: "navbar-brand fw-bolder" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-3">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!"><%= t "text.home" %></a></li>
        <li class="nav-item"><a class="nav-link" href="#!"><%= t "text.about" %></a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= t "text.shop" %></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!"><%= t "text.all_product" %></a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!"><%= t "text.hot_product" %></a></li>
            <li><a class="dropdown-item" href="#!"><%= t "text.new_product" %></a></li>
          </ul>
        </li>
      </ul>
      <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search col-5">
        <div class="input-group">
          <input type="text" class="form-control bg-light small" placeholder="<%= t "text.search" %>" aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-dark" type="button">
                <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="col-4 text-end">
        <% if logged_in? %>
          <a class="btn btn-outline-dark">
            <i class="bi-cart-fill me-1"></i>
              <%= t "text.cart" %>
            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
          </a>
          <%= link_to t("text.log_out"), logout_path , class: "btn btn-outline-dark" %>
        <% else %>
          <%= link_to t("text.login"), login_path , class: "btn btn-outline-dark" %>
          <%= link_to t("text.register"), signup_path , class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
