<nav class="navbar navbar-expand-lg navbar-light bg-light py-2 fixed-top shadow">
  <div class="container px-4 px-lg-5">
    <%= link_to t('text.logo'), root_path, class: "navbar-brand fw-bolder" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-3">
        <li class="nav-item"><%= link_to t("text.home"), root_path, class: "nav-link active" %></li>
        <li class="nav-item"><a class="nav-link" href="#!"><%= t "text.about" %></a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= t "text.shop" %></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to t("text.all_product"), categories_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!"><%= t "text.hot" %></a></li>
            <li><a class="dropdown-item" href="#!"><%= t "text.new_product" %></a></li>
          </ul>
        </li>
      </ul>
      <%= render partial:"shared/search_form", locals: { results: [] } %>
      <div class="col-4">
        <% if user_signed_in? %>
          <%= link_to cart_path, class: "btn btn-outline-dark" do %>
            <i class="bi-cart-fill me-1"></i>
            <%= t "text.cart" %>
            <span class="badge bg-dark text-white ms-1 rounded-pill" id="user_cart_items"><%= @cart_items.size %></span>
          <% end %>
          <span class="dropdown py-2">
            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to t("text.order_history"), orders_path , class: "dropdown-item" %>
              <%= link_to t("text.my_account"), address_user_path , class: "dropdown-item" %>
              <%= button_to t("text.log_out"), destroy_user_session_path , method: :delete, class: "dropdown-item" %>
            </div>
          </span>
        <% else %>
          <%= link_to t("text.login"), new_user_session_path , class: "btn btn-outline-dark" %>
          <%= link_to t("text.register"), new_user_registration_path , class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
