<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "custom" , "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-light" id="body" data-locale="<%= I18n.locale %>">
    <!-- Navigation-->
    <%= render "layouts/header" %>
    <!-- Header-->
    <%= turbo_frame_tag "modal", target: "_top" %>
    <%= turbo_frame_tag "select-modal", target: "_top" %>
    <%= yield %>
    <!-- Footer-->
    <%= render "layouts/footer" %>
  </body>
  <% flash.each do |type, message| %>
    <% type = "success" if type == "notice" %>
    <% type = "error" if type == "alert" %>
    <script>
      setTimeout(() => {toastr.<%= type %>('<%= message %>')}, 300);
    </script>
  <% end %>
</html>
