<% provide :title, t("text.my_account") %>
<section class="h-100 h-custom mt-5">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <ul class="nav nav-tabs">
            <%= render "shared/navigation" %>
          </ul>
          <div class="card-body p-3">
          <%= form_for(resource, as: resource_name, url: users_update_profile_path, html: { method: :put }) do |f| %>
            <div class="row justify-content-center">
                <div class="col-4">
                  <div class="mb-2">
                    <%= f.label :name , t("form.user.name") %>
                    <%= f.text_field :name, class: "form-control" %>
                    <%= display_error(@user, :name) %>
                  </div>
                  <div class="mb-2">
                    <%= f.label :email, t("form.user.email") %>
                    <%= f.text_field :email, class: "form-control", disabled: true %>
                    <%= display_error(@user, :email) %>
                  </div>
                  <div class="d-grid">
                      <%= f.button t("text.edit"), type:"submit", class: "btn btn-dark btn-login fw-bold text-uppercase" %>
                  </div>
                </div>
                <div class="col-4 ps-5">
                  <div class="avatar-upload">
                    <div class="avatar-edit">
                        <%= f.file_field :avatar, id: "image-input", accept: Settings.accept_file %>
                        <label for="image-input"></label>
                    </div>
                    <div class="avatar-preview">
                      <%= image_tag current_user.avatar.variant(:user_info), id:"image-preview" if current_user.avatar.attached? %>
                    </div>
                  </div>
                  <div class="content">
                    <%= t "text.upload_rule_html" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
